{% extends 'base.html' %}
{% block conteudo %}
    <h1>Formulário de Aplicação Passworless</h1>
    <p>Esses dados são utilizados para efetuar login por email. Mais informações em <a href="https://pswdless.appspot.com/api#register-sites" target="passwordless">Passwordless</a>.</p>
    <form action="{{ salvar_app_path }}" method="post">
    {{ csrf_input() }}
    <input type="text" name="app_id" placeholder="Digite o id da app" value="{{ app.app_id if app }}" />
    <input type="text" name="token" placeholder="Digite o token da app" value="{{ app.token if app }}" />
    <button type="submit">Salvar</button>

    </form>
{% endblock %}