{% extends "templates/curso_base.html" %}
{% block conteudo %}
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h1>Página de Cursos</h1>

            <div class="row">
                <div class="col-md-4 column">
                    <form action="{{ salvar_url }}" method="post">
                        <div class="input-group">
                            <input type="text" class="form-control"
                                   placeholder="Nome do Curso" name="nome"/>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            <br/>
            <ol>
                {% for curso in lista_cursos %}
                    <li><a href="{{ matricula_url }}/{{ curso.key.id() }}">{{ curso.nome }}</a></li>
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}