{% extends "templates/curso_base.html" %}
{% block conteudo %}
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h1 class="text-center">Matrículas {{ curso.nome }} </h1>

        </div>
        <br/>
    </div>
    <div class="row clearfix">
        <div class="col-md-6 column">


            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Alunos Matriculados
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>

                            <th>
                                #
                            </th>
                            <th>
                                Aluno
                            </th>
                            <th>
                                Email
                            </th>
                            <th>

                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for usuario in usuarios_matriculados %}
                            <tr>

                                <td>
                                    {{ usuario.key.id() }}
                                </td>
                                <td>
                                    {{ usuario.nome }}
                                </td>
                                <td>
                                    {{ usuario.email }}
                                </td>

                                <td>
                                    <form action="{{ desmatricula_path }}" method="post">
                                        <input type="hidden" name="usuario_id" value="{{ usuario.key.id() }}" />
                                        <button class="btn btn-danger">Desmatricular</button>
                                    </form>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>
                                    Nenhum Usuário Matrículado
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>

            </div>


        </div>
        <div class="col-md-6 column">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Interface de Matrícula
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Pesquisar aluno"/>
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span>
                    </button>
                  </span>
                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>

                            <th>
                                #
                            </th>
                            <th>
                                Aluno
                            </th>
                            <th>
                                Email
                            </th>
                            <th>

                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for usuario in usuarios_nao_matriculados %}
                            <tr>

                                <td>
                                    {{ usuario.key.id() }}
                                </td>
                                <td>
                                    {{ usuario.nome }}
                                </td>
                                <td>
                                    {{ usuario.email }}
                                </td>
                                <td>
                                    <form action="{{ matricula_path }}" method="post">
                                        <input type="hidden" name="usuario_id" value="{{ usuario.key.id() }}" />
                                        <button class="btn btn-success">Matricular</button>
                                    </form>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>
                                    Nenhum Usuário Encontrado
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>




{% endblock %}