{% extends "templates/usuario_base.html" %}
{% block conteudo %}
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h1>Página de Usuários</h1>
            <a href="{{ adicionar_usuario_google_path }}" class="btn btn-success"> Adicionar Usuário Google</a>
            <a href="{{ adicionar_usuario_face_path }}" class="btn btn-primary"> Adicionar Usuário Facebook</a>
            <br/>
            {% macro construir_pagina(pagina,label=None,eh_pagina_atual=False) %}
                {% set label=label or pagina %}
                {% if eh_pagina_atual %}
                    <li class="active">
                        <a href="#">{{ label }}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ home_path }}/{{ pagina }}">{{ label }}</a>
                    </li>
                {% endif %}
            {% endmacro %}
            <ul class="pagination">
                {{ construir_pagina(pagina_anterior,'Anterior') }}

                {% for pagina in range(pagina_inicial,pagina_final+1) %}
                {{ construir_pagina(pagina,eh_pagina_atual=(pagina_atual==pagina)) }}
                {% endfor %}

                {{ construir_pagina(pagina_posterior,'Próxima') }}
            </ul>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Data de Inscrição
                    </th>
                    <th>
                        Aluno
                    </th>
                    <th>
                        Email
                    </th>
                    <th>Origem</th>
                </tr>
                </thead>
                <tbody>
                {% for usuario in usuarios %}
                    <tr>
                        <td>
                            {{ usuario.key.id() }}
                        </td>
                        <td>{{ usuario.criacao|datetime }}</td>

                        <td>
                            {{ usuario.nome }}
                        </td>
                        <td>
                            {{ usuario.email }}
                        </td>
                        <td>
                            {{ usuario.origem() }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>Nenhum usuário encontrado</td>
                    </tr>
                {% endfor %}


                </tbody>
            </table>
            <ul class="pagination">
                <li>
                    <a href="#">Anterior</a>
                </li>
                <li>
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">Próxima</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}