{% extends "templates/usuario_base.html" %}
{% block conteudo %}
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h1>Página de Usuários</h1>
            <ul class="pagination">
				<li>
					<a href="#">Anterior</a>
				</li>
				<li>
					<a href="#">1</a>
				</li>
				<li>
					<a href="#">2</a>
				</li>
				<li>
					<a href="#">3</a>
				</li>
				<li>
					<a href="#">4</a>
				</li>
				<li>
					<a href="#">5</a>
				</li>
				<li>
					<a href="#">Próxima</a>
				</li>
			</ul>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Data de Inscrição
                    </th>
                    <th>
                        Aluno
                    </th>
                    <th>
                        Email
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        1
                    </td>
                    <td>02/09/09 23:08:05</td>
                    <td>
                        Renzo Nuccitelli
                    </td>
                    <td>
                        renzon@gmail.com
                    </td>

                </tr>

                <tr>
                    <td>
                        2
                    </td>
                    <td>02/10/12 03:08:05</td>
                    <td>
                        Beltrano
                    </td>
                    <td>
                        beltrano@gmail.com
                    </td>

                </tr>


                </tbody>
            </table>
             <ul class="pagination">
				<li>
					<a href="#">Anterior</a>
				</li>
				<li>
					<a href="#">1</a>
				</li>
				<li>
					<a href="#">2</a>
				</li>
				<li>
					<a href="#">3</a>
				</li>
				<li>
					<a href="#">4</a>
				</li>
				<li>
					<a href="#">5</a>
				</li>
				<li>
					<a href="#">Próxima</a>
				</li>
			</ul>
        </div>
    </div>
{% endblock %}